.articleWrapper {
    text-align: center;
    padding-top: 60px; /* چون نوبار فیکس شده */
  }
  
  .articleWrapper h1 {
    text-align: right;
    margin: 20px 0;
    font-size: 28px;
    font-weight: 600;
    color: #333;
  }
  
  .articleWrapper img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .articleWrapper p {
    text-align: right;
    color: #555;
    line-height: 1.8;
    font-size: 16px;
  }
  
  .articleInfo {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
    color: #777;
    font-size: 14px;
  }
  
  .likeSection {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .likeSection button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #555;
    transition: color 0.3s ease;
  }
  
  .likeSection button:hover {
    color: #e63946;
  }
  
  .liked {
    color: #e63946;
    font-weight: bold;
  }


  @media (max-width: 768px) {
    .articleWrapper h1 {
      font-size: 22px;
    }
  
    .articleWrapper img {
      width: 100%;
    }
  
    .articleWrapper p {
      font-size: 14px;
    }
  
    .articleInfo {
      flex-direction: column;
      align-items: flex-end;
    }
  }